<?xml version='1.0' encoding='utf-8'?>
<plugin id="image_resizer" version="1.00" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>resizer_image</name><js-module name="resizer_image" src="www/resizer_image.js"><clobbers target="cordova.plugins.resizer_image" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="resizer_image"><param name="android-package" value="image_resizer.resizer_image" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/resizer_image.java" target-dir="src/image_resizer/resizer_image" /></platform></plugin>